.nav-bar {
  background: #ef624e;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 40px;
  z-index: $zindexFixedNavbar;
  ul {
    overflow: auto;
    margin: 0;
    .logout-li {
      float: right;
      margin-right: 20px;
    }
    li {
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
  }
  a {
    color: #A81313;
    display: block;
    font-size: 16px;
    text-decoration: none;
    &.active,
    &:hover {
      color: #fff;
    }
  }
}

.nav-bar ul li.title {
  background: rgba(197, 40, 18, 0.5);
  margin-left: 0;
  width: $sidebarWidth +1;
  h1 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-right: 10px;
    padding: 0 20px;
  }
}

