<% options = options || {} %>
<% title = options[:title] || date_range_text %>

<h1 class="title"><%= title %></h1>

<div class="user-details">
  <div class="time-details">
    <!-- <p>Contracted Hours: <span>40</span></p> -->
    <p>Total this week: <span class="total-hours">0</span> hours</p>
  </div>
</div>

<div class="datepicker"></div>
