<%= content_tag_for :div, time_entry, data: {id: time_entry.id, datetime: "#{time_entry.entry_datetime}", duration: time_entry.duration}, class: "entry", style: "height: #{time_entry.duration * 20}px;" do %>
<%= link_to "x", time_entry_path(time_entry), remote: true, method: :delete, class: "remove" %>
  <div class="inner">
  </div>
<% end %>