<table class="table two-col tablesorter">
  <thead>
    <tr>
      <th><%= params[:action] == "projects" ? "Project" : "Name" %></th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "report_item", collection: @collection %>
    <% if @collection.blank? %>
      <tr><td class="no-results" colspan="2">No Hours Recorded</td></tr>
    <% end %>
  </tbody>
</table>
