<% report = report_item %>
<tr>
  <td>
    <%= link_to report_path(report.object, "") do %>
      <%= report.object.name %>
    <% end %>
  </td>
  <td>
    <%= hours(report.total) %> (<%= days(report.days) %>)
  </td>
</tr>
