<div class="tab-header">
  <%= link_to users_reports_path(params: filtered_params), class: "tab-link #{'active' if action?("users")}" do %>
    <h4>Users</h4>
  <% end %>
  <%= link_to projects_reports_path(params: filtered_params), class: "tab-link middle #{'active' if action?("projects")}" do %>
    <h4>Projects</h4>
  <% end %>
  <%= link_to detail_reports_path(params: filtered_params), class: "tab-link last #{'active' if action?("detail")}" do %>
    <h4>Detailed report<h4>
  <% end %>
  <div class="top-line"></div>
</div>
