<%= render 'layouts/date_header' %>
<%= render 'tab_header' %>

<div class="tab-body">
  <div class="inner">
    <div class="tab-body-head clearfix">
      <%= render 'filter_header' %>
    </div>
    <%= render 'collection_list' %>
  </div>
</div>
