.form-popout {
  background: #fff;
  border: 1px solid #777;
  padding: 10px 10px 6px;
  position: absolute;
  top: 0;
  width: 250px;
  z-index: 4000;
  @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  form {
    margin: 0;
    select {
      width: 100%;
    }
    textarea {
      height: 150px;
      margin: 0;
      width: 236px;
      resize: none;
    }
    .close,
    .save {
      margin: 2px 0 0;
    }
    .close,
    .save {
      font-size: 15px;
      line-height: 20px;
      text-shadow: 0 1px 0 white;
    }
    .close { color: #999999; }
    .save {
      background: none;
      border: none;
      color: #951305;
      padding: 0;
      &:hover {
      }
    }
  }
}

.form-popout .arrow,
.form-popout .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.form-popout .arrow {
  border-width: $popoverArrowOuterWidth;
}
.form-popout .arrow:after {
  border-width: $popoverArrowWidth;
  content: "";
}

.form-popout.right {
  .arrow {
    top: 20%;
    left: -$popoverArrowOuterWidth;
    margin-top: -$popoverArrowOuterWidth;
    border-left-width: 0;
    border-right-color: #777;
    &:after {
      left: 1px;
      bottom: -$popoverArrowWidth;
      border-left-width: 0;
      border-right-color: #fff;
    }
  }
}

.form-popout.left {
  .arrow {
    top: 20%;
    right: -$popoverArrowOuterWidth;
    margin-top: -$popoverArrowOuterWidth;
    border-right-width: 0;
    border-left-color: #777; // IE8 fallback
    &:after {
      right: 1px;
      bottom: -$popoverArrowWidth;
      border-right-width: 0;
      border-left-color: #fff;
    }
  }
}