.flash-alert {
  bottom: 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 200;
  left: 0;
  letter-spacing: 1px;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 2000;
  opacity: 0.9;
}

.alert-error {
  border-top: 1px solid #700202;
  @include gradient-vertical(#CD4040, #B02C2C);
  @include box-shadow(0px 1px 0 #FB9F9F inset, 0 0px 6px rgba(0, 0, 0, 0.4));
}

.alert-success {
  border-top: 1px solid #0B8426;
  @include gradient-vertical(#29B355, #167B0E);
  @include box-shadow(0 1px 0 #7FE094 inset, 0 0px 6px rgba(0, 0, 0, 0.4));
}

.nav-bar {
  padding: 0 50px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 30px;
  @include gradient-vertical(#D24509, #A63302);
  @include box-shadow(0 0px 4px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, .4) inset);
  z-index: $zindexFixedNavbar;
  ul {
    overflow: auto;
    margin: 0 auto;
    max-width: 1200px;
    li {
      line-height: 30px;
      margin-left: 15px;
    }
    li:first-child {
      margin: 0;
    }
  }
  a {
    color: #6C1900;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 1px 0 #C8520E;
    &.active,
    &:hover {
      color: #fff;
      text-shadow: 0 -1px 0 #481506;
    }
  }
}

.container {
  position: relative;
}

// Page header
// -------------------------

.date-header {
  margin: 20px 0;
  height: 40px;
  h1 {
    float: left;
    font-weight: 100;
  }
  .btn-group {
    margin: 4px 0 0 10px;
    h4 {
      float: left;
      font-size: 20px;
      font-weight: 100;
      margin: 8px 10px 0 0;
    }
  }
}

.timetable-header {
  @extend .date-header;
  margin-left: 45px;
}

.page-header {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
}

.page-header-with-link {
  @extend .page-header;
  overflow: auto;
  h1 {
    float: left;
    font-weight: 100;
  }
  a {
    float: right;
    font-size: 18px;
    font-weight: 200;
    margin: 10px 0 0;
  }
}

.tab-header {
  height: 40px;
  position: absolute;
  top: 110px;
  z-index: 200;
  h4 {
    background: #F3F3F3;
    border: 1px solid #E6E3E3;
    border-bottom: none;
    float: left;
    font-size: 16px;
    font-weight: 200;
    height: 36px;
    line-height: 26px;
    margin: 0 2px 0 0;
    position: relative;
    text-align: center;
    width: 160px;
    @include border-radius(4px 4px 0 0);
    @include box-shadow(0 -4px 4px -4px #CCCCCC inset);
    a {
      color: #777;
      display: block;
      padding: 6px 0;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
    }
    &.active {
      background: #fff;
      border: 1px solid #bbb;
      border-bottom: none;
      height: 37px;
      @include box-shadow(none);
      a {
        color: #C53727;
      }
    }
  }

}

.tab-body {
  border: 1px solid #CCCCCC;
  overflow: auto;
  margin-top: 57px;
  min-height: 400px;
  width: 100%;
  @include border-radius(0 4px 4px 4px);
  .inner {
    padding: 20px;
  }
}

.tab-body-head {
  margin-bottom: 20px;
  .body-title {
    font-size: 20px;
  }
}

.no-results {
  text-align: center;
}

.grey-block {
  background: #eee;
  margin-bottom: 4px;
  font-weight: 200;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  @include transition(all .1s ease);
  a {
    display: block;
  }
}

.dashed-list {
  font-weight: 200;
  a {
    display: block;
  }
  li {
    line-height: 30px;
    padding: 5px 10px;
    border-bottom: 1px dashed #ccc;
  }
}

li.grey-block {
  &:hover {
    // background: #CB3C2B;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
