#letter-list {
  overflow: hidden;
  padding: 15px 0 0;
  li {
    float: left;
    font-size: 19px;
    font-weight: 200;
    width: 34px;
    text-align: center;
    line-height: 24px;
  }
  li.top-link {
    display: none;
    float: right;
    margin-right: 0;
  }
  li:first-child {
    margin-left: -10px;
  }
  .active,
  a:hover {
    color: #CC0000;
  }

  a {
    color: #999;
    display: block;
    outline: none;
    text-decoration: none;
  }
}

#letter-list.sticky {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #eee;
  left: 0;
  padding: 10px 50px;
  position: fixed;
  right: 0;
  top: 30px;
  z-index: 2000;
  li.top-link {
    display: block;
  }
}

.projects-container {
  padding: 75px 0 0;
}

.projects-container:last-child {
  margin: 0 0 510px;
}

ul.projects-list {
  li.letter {
    color: #CC0000;
    font-size: 26px;
    font-weight: 100;
    margin: 0 0 15px;
    line-height: 40px;
  }

  li.project {
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
    font-weight: 200;
    line-height: 36px;
    a {
      color: #999;
      display: block;
      &:hover {
        color: #CC0000;
      }
    }
  }
}