//
// Scaffolding
// --------------------------------------------------

* {
    outline: none;
}

// Body reset
// -------------------------

body {
  margin: 0;
  padding: 30px 50px 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: none;
}
