//
// Scaffolding
// --------------------------------------------------

* {
    outline: none;
}

// Body reset
// -------------------------
html, body {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  // background-color: $bodyBackground;
}


.projects-layout,
.reports-layout {
  .content {
    max-width: 1500px;
  }
}

.wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: $maxScreenWidth;
}

.content {
  left: 256px;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 0;
  height: 100%;
  width: 80%;
  position: relative;
  @include clearfix();
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: none;
}
