.sidebar-open {
  .main-title {
    display: none;
  }
}


.sidebar-closed {
  .main-title {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .timetable-container {
    margin-left: 20px;
  }
}
