.tablesorter {
  thead th {
    cursor: pointer;
  }
}

.table.two-col {
  thead th:first-child {
    width: 78%;
  }
  th, td {
    padding: 8px 12px;
    text-align: left;
  }
}

.table {
  width: 100%;
  background-color: transparent;
  border: 1px solid #bbb;
  border-bottom: none;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  thead {
    background: #EAEBED;
  }
  tbody {
    @include box-shadow(0 1px 2px -1px #eee inset);
    tr:last-child {
      td {
        border-bottom: 1px solid #bbb;
      }
    }
    td {
      border-bottom: 1px solid #ddd;
    }
  }
  thead th {
    color: #676767;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
    vertical-align: bottom;
    border-bottom: 1px solid #bbb;
  }
  th, td {
    line-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: top;
  }
  td {
    border-right: 1px solid #bbb;
    font-size: 14px;
    font-weight: 200;
    a {
      display: block;
    }
  }
  td:last-child,
  th:last-child {
    border-right: none;
    text-align: center;
  }
  tr:nth-child(2n+2) > td {
    background: #F9F9F9;
    @include box-shadow(0 1px 0 #fff inset);
  }
  tfoot {
    td {
      border-bottom: 1px solid #bbb;
      font-size: 14px;
      letter-spacing: 0.5px;
      @include box-shadow(0 4px 8px -4px #CCC inset);
    }
  }
}