.timetable-header {
  margin: 20px 0 0 45px;
  overflow: auto;
  h1 {
    float: left;
  }
  .btn-group {
    margin-left: 10px;
  }
}

.timetable-container {
  margin-bottom: 30px;
}

.times {
  border-right: 1px solid #AEADAD;
  position: absolute;
  left: 0;
  width: 45px;
  z-index: 2;
  .time {
    color: $grayLight;
  }
}

.headers {
  margin-left: 45px;
  border-bottom: 1px solid #AEADAD;
  @include clearfix();
  .title {
    float: left;
    width: 20%;
  }
  h4 {
    color: $gray;
    padding: 8px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

}

.timetable {
  border-right: 1px solid #AEADAD;
  padding-left: 45px;
  height: 500px;
  overflow: auto;
  position: relative;
}

.table-cover {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
}

.bottom-border {
  border-top: 1px solid #AEADAD;
  margin-left: 45px;
}

.entry.with-project {
  .inner {
    background: rgba(42, 84, 48, 0.2);
    border: 1px solid #2A5430;
    p.less-text {
      margin: -4px 0 0 -4px;
    }
    p {
      color: #2A5430;
      line-height: 14px;
      text-shadow: 0 1px 0 #DEF4E1;
      span {
        color: #778E7A;
        font-weight: bold;
      }
    }
  }
  .remove {
    color: #2A5430;
  }
}

.entry {
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%!important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 20;
  @include transition(all .1s ease);
  .inner {
    background: rgba(173, 39, 30, 0.4);
    border: 1px solid rgb(173, 39, 30);
    padding: 6px 8px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    p.less-text {
      margin: -4px 0 0 -4px;
    }
    p {
      color: #AD271E;
      line-height: 14px;
      text-shadow: 0 1px 0 #F1D5D3;
      span {
        color: #B5443C;
        font-weight: bold;
      }
    }
  }
  .remove {
    color: rgb(173, 39, 30);
    font-size: 22px;
    font-weight: 100;
    line-height: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    text-decoration: none;
    top: 2px;
    z-index: 2000;
  }
  .ui-resizable-s {
    bottom: 0!important;
  }
  .ui-resizable-n {
    top: 0!important;
  }
}

.entry:hover {
  cursor: pointer;
}

.day {
  float: left;
  width: 20%;
  position: relative;

  .half_hour:last-child {
    border-bottom: none;
  }
}

.day:last-child {
  .half_hour {
    border-right: none;
  }
}

.half_hour {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 20px!important;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &.main-hour {
    background: rgba(238, 238, 238, 0.33);
  }
}