.timetable-header {
  margin-left: 50px;
}

.timetable-container {
  position: fixed;
  right: 50px;
  left: 50px;
}

.times {
  border-right: 1px solid #ccc;
  float: left;
  width: 45px;
  p {
    color: $grayLight;
    margin: 0;
    line-height: 21px;
  }
}

.headers {
  border-bottom: 1px solid #ccc;
  margin-left: 45px;

  @include clearfix();
  .title {
    float: left;
    width: 20%;
  }
  h4 {
    color: $gray;
    padding: 5px 10px 15px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

}

.border-bottom {
  margin-left: 45px;
  margin-top: -1px;
  height: 1px;
  border-top: 1px solid #ccc;
}

.timetable-holder {
  border-right: 1px solid #ccc;
  overflow: hidden;
}

.timetable {
  margin-right: -15px;
  height: 380px;
  overflow: auto;
  position: relative;
}

.entry {
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%!important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 20;
  @include border-radius(4px);
  .inner {
    background: rgba(173, 39, 30, 0.6);
    border: 1px solid rgb(173, 39, 30);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include border-radius(4px);
  }
  .remove {
    color: rgb(173, 39, 30);
    font-size: 18px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 #DCA78C;
    top: 2px;
    z-index: 2000;
  }
}


.day {
  float: left;
  width: 19.2%;
  position: relative;

  .half_hour:last-child {
    border-bottom: none;
  }
}

.day:last-child {
  .half_hour {
    border-right: none;
  }
}

.half_hour {
  border-right: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
  height: 20px!important;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}