//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 $baseLineHeight / 2;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.lead {
  margin-bottom: $baseLineHeight;
  font-size: $baseFontSize * 1.5;;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5;
}


// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: bold;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $headingsFontFamily;
  font-weight: 100;
  line-height: $baseLineHeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: $grayLight;
  }
}

// h1 { line-height: 40px; }
// h2 { line-height: 24px; }
// h3 { line-height: 24px; }

// h1 { font-size: 28px; } // ~38px
// h2 { font-size: 20px; } // ~32px
// h3 { font-size: $baseFontSize * 1.75; } // ~24px
// h4 { font-size: 20px } // ~18px
// h5 { font-size: $baseFontSize; }
// h6 { font-size: $baseFontSize * 0.85; } // ~12px

// h1 small { font-size: $baseFontSize * 1.75; } // ~24px
// h2 small { font-size: $baseFontSize * 1.25; } // ~18px
// h3 small { font-size: $baseFontSize; }
// h4 small { font-size: $baseFontSize; }

p.no-results {
  font-size: 24px;
  line-height: 30px;
  margin: 40px 0;
  text-align: center;
}



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: $baseLineHeight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
