//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  display: inline-block;
  @include ie7-inline-block();
  padding: 6px 12px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize + 2;
  font-weight: 200;
  line-height: $baseLineHeight;
  *line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  @include border-radius($baseBorderRadius);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0, 0, 0, 0.4));

  // Hover state
  &:hover {
    color: $grayDark;
    text-decoration: none;
    background-color: darken($white, 10%);
    *background-color: darken($white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;
  }

  // Focus state for keyboard and accessibility
  &:focus {
    @include tab-focus();
  }

  // Active state
  &.active,
  &:active {
    background-color: darken($white, 10%);
    background-color: darken($white, 15%) \9;
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05));
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: darken($white, 10%);
    background-image: none;
    @include opacity(65);
    @include box-shadow(none);
  }

}



// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.btn-primary.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight, #fff, 0 -1px 0 #741E05);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.5);
}


// Cross-browser Jank
// --------------------------------------------------
button.btn,
input[type="submit"].btn {
  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  // IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;
}
