
html {
  background: image_url("bg_mini.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1.heading {
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 6px;
  line-height: 78px;
  margin: 100px 0 0 40px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  overflow: auto;
  padding: 0 0 40px;
}

.form-box {
  float: right;
  margin: 100px 60px;
  width: 300px;
  a {
    color: #444;
    font-size: 13px;
    font-weight: 200;
    margin: 10px 0 0;
    text-shadow: 0 1px 0 #ccc;
    text-decoration: none;
    &:hover {
      color: #7A2525;
      text-shadow: none;
    }
  }
  form {
    border: 1px solid rgba(82, 82, 82, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    overflow: auto;
    @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255,255,255,0.8) inset);
    @include gradient-vertical(rgba(255,255,255, 0.2), rgba(255, 255, 255, 0.3));
  }
}