
html {
  background: image_url("bg_mini.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1.heading {
  color: #fff;
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 78px;
  margin: 100px 0 0 40px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.form-box {
  float: right;
  margin: 100px 150px 0 0;
  width: 300px;
  a {
    color: #888;
    font-size: 13px;
    margin: 10px 0 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    &:hover {
      opacity: 0.8;
    }
  }
  form {
    background: $white;
    padding: 10px;
    overflow: auto;
    @include border-radius(4px);
    @include gradient-vertical(#fefefe, #eee);
    @include box-shadow(0 8px 14px rgba(0, 0, 0, 0.8));
  }
}