<header class="date-header">
  <h1><%= date_range_text %></h1>
  <div class="btn-group pull-right">
    <!-- Want to put these into a helper but gave up -->
    <%= link_to "current week", url_with_param(:date, nil), class: "btn #{'disabled' if @date == Date.today}" %>
    <%= link_to "<", url_with_param(:date, @date.prev_week), class: 'btn' %>
    <%= link_to ">", url_with_param(:date, @date.next_week), class: 'btn' %>
  </div>
</header>
